.Register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px; 
  width: 100%;
}

.head {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.user-Register {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  margin-top: 20px;
}

.btn-customBlue {
  padding: 10px 20px;
  margin-left: 5px;
  background-color: #125266;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-customBlue:hover {
  background-color: #0a344d;
}

.text-danger {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.text-success{
  color: green;
  font-size: 0.9em;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 5px;
}
