/* app.component.css */
.cd-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .cd-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .cd-list > div {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cd-list button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .shopping-cart {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  