<app-nav-bar></app-nav-bar>

<mat-card>
    <mat-card-content>
      <h2>Contact Information</h2>
      <p>
        <mat-icon>phone</mat-icon>
        Phone: +1 234 567 890
      </p>
      <p>
        <mat-icon>email</mat-icon>
        Email: zara&#64;zaraByKoral.com

      </p>
      <p>
        Opening Hours:
        <br />
        Monday - Friday: 9 AM - 6 PM
        <br />
        Saturday: 10 AM - 4 PM
      </p>
    </mat-card-content>
    <div class="map-container">
      <!-- Add your map here -->
      <iframe
        width="100%"
        height="300"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?q=Zara%20Holon&t=&z=15&ie=UTF8&iwloc=&output=embed"
      ></iframe>
    </div>
  </mat-card>
  