<app-nav-bar></app-nav-bar>
<mat-card class="zara-card">
    <mat-card-header>
      <div mat-card-avatar class="zara-logo"></div>
      <h1>About Zara</h1>
    </mat-card-header>
    <mat-card-content>
        <p>Zara is a global fashion brand known for its trendy clothing and accessories. Founded in 1974 by Amancio Ortega and Rosalía Mera, Zara has grown to become one of the world's largest fashion retailers.</p>

        <p>The brand is renowned for its rapid response to the latest fashion trends, offering a wide range of stylish and affordable clothing for men, women, and children. Zara's design team is agile and responsive, allowing the brand to bring new designs to stores quickly.</p>
      
        <p>Zara's stores and online platform showcase a diverse collection of fashion-forward clothing, from casual wear to formal attire, catering to various tastes and preferences. With an emphasis on quality and innovation, Zara continues to influence the fashion industry with its unique approach to fast fashion.</p>
      
        <p>With a commitment to sustainability, Zara has implemented eco-friendly initiatives, such as its "Join Life" collection, focusing on using sustainable materials and reducing environmental impact.</p>
      
        <p>Today, Zara operates in numerous countries worldwide, maintaining its position as a trendsetter and a favorite among fashion enthusiasts.</p>
    </mat-card-content>
  </mat-card>
  