<h2>Products:</h2>
<div *ngIf="products.length > 0">
    <div class="product-container">
      <div *ngFor="let product of products" class="product">
        <img [src]="product.picture" alt="Product Image">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <!-- Add to cart button or any other actions -->
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
  <div *ngIf="products.length === 0">
    <p>No products available.</p>
  </div>
  