h2{
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}


.product {
    width: 250px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 30px;
}


.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.product h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}


.product p {
    color: #777;
}


.product button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #125266;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.product button:hover {
    background-color: #0a344d;
}

button{
    background-color: #777;
}
