<div class="login-form">
    <div class="card">
      <h2 class="head py-2">Login</h2>
      <form class="user-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Username field -->
        <div class="row">
          <div class="col-md-12 roundedTextBox mb-3">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control mb-2" id="inputUsername" formControlName="username" placeholder="Enter Username">
            <div *ngIf="submitted && formControl['username'].errors && formControl['username'].touched" class="text-danger">
              <div *ngIf="formControl['username'].errors['required']">Username is required.</div>
            </div>
          </div>
        <!-- Password field -->
          <div class="col-md-12 roundedTextBox mb-3">
            <label>Password</label>
            <input type="password" class="form-control mb-2" id="inputPassword" formControlName="password" placeholder="Enter Password">
            <div *ngIf="submitted && formControl['password'].errors && formControl['password'].touched" class="text-danger">
              <div *ngIf="formControl['password'].errors['required']">Password is required.</div>
              <div *ngIf="formControl['password'].errors['pattern']">
                <h3>Password must contain the following:</h3>
                <ul>
                  <li>Password should be alphanumeric</li>
                  <li>Password length must be greater than 7 characters</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="buttons text-center">
          <button class="btn-customBlue mr-2" type="submit">Login</button>
          <button class="btn-customBlue mr-2 register" (click)="redirectToRegister()">Register</button>      
        </div>
      </form>
      <div *ngIf="submitted && !loginForm.invalid">
        <div *ngIf="submitted && error" class="text-danger">{{ error }}</div>
      </div>
      <div *ngIf="success && submitted" class="text-success">{{ success }}</div>
    </div>
  </div>