
<!-- shows the user the desired component while he is pressing the wanted button -->

<div>
    <button (click)="toggleComponent()">show success!</button>
    <button (click)="toggleComponent()">show warning!</button>
</div>

<div *ngIf="showSuccess">
    <app-success-alert></app-success-alert>
</div>
  <div *ngIf="!showSuccess">
    <app-warning-alert></app-warning-alert>
</div>


<!-- giving the user an 1 - 5 options to display the component X times as he chose -->
<select [(ngModel)]="selectedTimes">
    <option *ngFor="let option of options" [value]="option">{{ option }}</option>
  </select>
  
  <div *ngFor="let _ of getTimes(selectedTimes)">
    <app-success-alert></app-success-alert>
  </div>
  
  <div *ngFor="let _ of getTimes(selectedTimes)">
    <app-warning-alert></app-warning-alert>
  </div>
  


